# ath6kl-service
type ath6kl-service, domain;
type ath6kl-service_exec, exec_type, file_type;

init_daemon_domain(ath6kl-service)

allow ath6kl-service ath6kl-service_exec:file rx_file_perms;
