allow init_shell vfat:dir read;
allow init_shell vfat:dir open;
allow init_shell vfat:file getattr;
allow init_shell kernel:process setsched;

# allow init_shell block_device:blk_file { read ioctl open }; # libsepol.check_assertion_helper: neverallow on line 254 of external/sepolicy/domain.te (or line 5252 of policy.conf) violated by allow init_shell block_device:blk_file { read open }; 
# allow init_shell labeledfs:filesystem remount; #libsepol.check_assertion_helper: neverallow on line 264 of external/sepolicy/domain.te (or line 5262 of policy.conf) violated by allow init_shell labeledfs:filesystem { remount }; 
#allow init_shell system_file:lnk_file create; # libsepol.check_assertion_helper: neverallow on line 291 of external/sepolicy/domain.te (or line 5289 of policy.conf) violated by allow init_shell system_file:lnk_file { create }; 
#allow init_shell system_file:dir { write add_name }; # libsepol.check_assertion_helper: neverallow on line 291 of external/sepolicy/domain.te (or line 5289 of policy.conf) violated by allow init_shell system_file:dir { write };
#allow init_shell system_file:file create; # libsepol.check_assertion_helper: neverallow on line 291 of external/sepolicy/domain.te (or line 5289 of policy.conf) violated by allow init_shell system_file:file { create };
