allow mpdecision self:process execmem;

type_transition mpdecision socket_device:sock_file mpctl_socket;

allow mpdecision socket_device:dir { write add_name };

allow mpdecision mpdecision_data:file create_file_perms;
allow mpdecision mpdecision_data:dir rw_dir_perms;

binder_use(mpdecision)
