allow qti_init_shell btnvtool_exec:file { read getattr open execute execute_no_trans };
allow qti_init_shell ctl_default_prop:property_service { set };
allow qti_init_shell kernel:process { setsched };
allow qti_init_shell radio_prop:property_service { set };
allow qti_init_shell bluetooth_prop:property_service { set };
allow qti_init_shell sensors_persist_file:file { write };
